// Variable declarations
$green: #418f61;
$blue: #145e9a;
$white: #fff;
$grey: #242424;
$pink: #af4c6f;
$black: #333;
$serenity-blue: #000fa0;

$quote-font: lobster;

// Fonts
@font-face {
  font-family: lobster;
  src: url('../fonts/Lobster.otf');
}

// Mixins and other sass functions
@mixin center {
  left: 50%;
  transform: translate(-50%);
}

// Classes
.outer-container {
  margin-top: 2em;
}

.inner-container,
.options-container,
.own-quote-container {
  max-width: 400px;
}

.inner-container {
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, .4);
  color: $white;
  font-size: 25px;
  height: 400px;
  position: relative;

  .quote-text {
    font-family: $quote-font;
    padding-top: 4.5em;
  }

  .circle {
    @include center;
    background-color: $white;

    &-bottom {
      border-top-left-radius: 200px;
      border-top-right-radius: 200px;
      bottom: 0;
      height: 30px;
      width: 200px;
    }

    &-top {
      border-bottom-left-radius: 200px;
      border-bottom-right-radius: 200px;
      height: 50px;
      top: 0;
      width: 180px;
    }
  }

  .logo {
    @include center;
    bottom: 10px;
    max-width: 120px;
  }

  .site-link {
    @include center;
    bottom: -10px;
    color: $serenity-blue;
    font-size: 12px;
  }
}

.button {
  color: $white;
  font-weight: bold;
  text-transform: uppercase;

  &-post {
    background-color: $green;
    margin-bottom: 10px;
  }

  &-quote,
  &-image {
    margin-bottom: 2em;
    width: 49.3%;
  }

  &-image {
    background-color: $blue;
  }

  &-quote {
    background-color: $blue;
  }

  &-own-quote {
    background-color: $pink;
  }

  &:hover {
    opacity: .9;
    transition: opacity ease .5s;
  }
}

.footer {
  background-color: $grey;
  color: $white;

  .copyright {
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }
}

.red {
  color: red;
}

.divider {
  overflow: hidden;
  text-align: center;

  &::before,
  &::after {
    background-color: $black;
    content: ' ';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

  &::before {
    margin-left: -50%;
    right: .5em;
  }

  &::after {
    left: .5em;
    margin-right: -50%;
  }
}
